= simple_form_for [<%= model_configuration.namespaces.map{|ns| ":#{ns}"}.join(", ") %>, <%= model_configuration.ivar_instance %>], wrapper: "horizontal", html: { class: "form-horizontal"} do |f|

<% model_configuration.attributes.each_with_index do |attribute, index| -%>
<% options = {} -%>
<% options = {autofocus: true} if index.zero? -%>
  = <%= attribute.as_input(options) %>
<% end -%>
  .form-actions
    = f.button :submit