= <%= Frontier::FormHeader.new(model_configuration).to_s %>

<% model_configuration.attributes.each_with_index do |attribute, index| -%>
<% options = {} -%>
<% options = {autofocus: true} if index.zero? -%>
<%= render_with_indent(1, Frontier::Input::Factory.build_for(attribute).to_s(options)) %>
<% end -%>
  .form-actions
    = f.button :submit
    %span.or or
    = link_to "Cancel", <%= model_configuration.url_builder.index_path %>
