= <%= Frontier::FormHeader.new(model).to_s %>

<% model.attributes.select(&:show_on_form?).each do |attribute| -%>
<%= render_with_indent(1, Frontier::Input::Factory.build_for(attribute).to_s) %>
<% end -%>
  .form-actions
    = f.button :submit
    %span.or or
    = link_to "Cancel", <%= model.url_builder.index_path %>
