.content-header
  %h1 <%= model.as_title %> Management
<% if model.show_create? -%>
  .collection-actions
    - if <%= Frontier::Authorization::Check.new(model, model.as_constant, :new) %>
      = link_to "Add <%= model.as_name.with_indefinite_article %>", <%= model.url_builder.new_path %>, class: "btn"
<% end -%>

- if <%= model.as_ivar_collection %>.exists?
  %table
    %thead
      %tr
<% model.attributes.select(&:show_on_index?).each do |attribute| -%>
<%= render_with_indent(4, Frontier::Views::Index::TableHeading.new(attribute).to_s) %>
<% end -%>
<% if instance_actions.has_actions? -%>
        %th.actions Actions
<% end -%>
    %tbody
      - <%= model.as_ivar_collection %>.each do |<%= model.model_name %>|
        %tr
<% model.attributes.select(&:show_on_index?).each do |attribute| -%>
          %td= <%= attribute.as_index_string %>
<% end -%>
<% if instance_actions.has_actions? -%>
          %td.actions
<%= render_with_indent(6, instance_actions.to_s) %>
<% end -%>

  = paginate <%= model.as_ivar_collection %>
- else
<%= render_with_indent(1, Frontier::Views::Index::EmptyMessageAndCallToAction.new(model).to_s) %>
